@media screen and (min-width: 0) and (max-width: 480px){
    .fon-top{
        background-size: cover;
        width: 100%;
        height: 823px;
        position: absolute;
        z-index: -1;
        top: 0;
    }
    header{
        width: 257px;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
   .top>h3{
        width: 184px;
       height: 35px;
       color: var(--color-primary, #F1CDB3);
       font-family: Georgia;
       font-size: 32px;
       font-weight: 400;
       line-height: 110%; /* 35.2px */
       letter-spacing: 1.92px;
       margin: 30px auto 10px 10px;
    }
   .top>.hover>.ul{
       width: 190px;
       height: 15px;
       color: var(--color-light-xl, #FFF);
       font-family: Arial;
       font-size: 13px;
       font-weight: 400;
       letter-spacing: 1.3px;
       margin: 0 auto 0 10px;
       flex-wrap: nowrap;
   }

    header>nav>ul{
        display: none;
    }
    .responsive-list>li>a{
        font-size: 12px;
        font-weight: 300;
    }
    .responsive-list{
        display: none;
        position: absolute;
        width: 190px;
        background: var(--color-primary, rgba(241, 205, 179, 0.34));
        list-style-type: none;
        top: 90px;
        padding: 0;
        left: 10px;
        z-index: 10;
        border-radius: 5px;
    }
   .responsive-list a{
        text-decoration: none;
        display: block;
        color: #333;
        padding: 4px 0;
    }
    .responsive-list a:hover{
        background-color: #C7C8CC;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
    }
    .hover {
        z-index: 11;
    }
    .hover:hover .responsive-list{
        display: block;
    }
    .first{
        width: 100%;
        padding: 60px 30px 673px 30px;
        /*height: 673px;*/
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px auto 105px auto;
    }
    .first>.content-top{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 296px;
        bottom: 300px;
        /*margin: 60px auto 105px auto;*/
    }
    .first>.content-top>h2{
        width: 300px;
        height: 64px;
        color: var(--color-light-xl, #FFF);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
        margin: 0 auto 42px auto;
    }
    .first>.content-top>p{
        width: 300px;
        height: 96px;
        color: var(--color-dark-s, #CDCDCD);
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%; /* 24px */
        margin: 0 auto 42px auto;
    }
    .first>.content-top>button{
        display: flex;
        padding: 15px 45px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: var(--color-primary, #F1CDB3);
    }
    .first>.content-top>button>a{
        color: var(--color-dark-3xl, #292929);
        font-family: Georgia;
        font-size: 17px;
        font-weight: 400;
        line-height: 130%; /* 22.1px */
        letter-spacing: 1.02px;
    }
    .first>.dog-top{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 260px;
        height: 271px;
    }
    .god-svg{
        width: 260px;
        height: 271px;
    }

    .second{
        width: 100%;
        padding: 419px 30px 574px 30px;
        /*height: 974px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .second-content{
        width: 300px;
        height: 494px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px auto ;
    }
    .second-content>h3{
        width: 280px;
        height: 64px;
        color: var(--color-dark-l, #545454);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
        margin-bottom: 25px;
        /*margin-top: 42px;*/
    }
    .second-content>.p-up{
        width: 270px;
        height: 144px;
        color: var(--color-dark-xl, #4C4C4C);
        text-align: justify;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%; /* 24px */
        margin-bottom: 20px;
    }
    .second-content>.p-down{
        width: 270px;
        height: 239px;
        color: var(--color-dark-xl, #4C4C4C);
        text-align: justify;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%; /* 24px */
        margin-bottom: 42px;
    }
    .photo-second{
        width: 100%;
        height: 253px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 42px;
    }




}
