@media screen and (min-width: 0) and (max-width: 480px){
    .fon-top{
        background-size: cover;
        width: 100%;
        height: 823px;
        position: absolute;
        z-index: -1;
        top: 0;
    }
    header{
        width: 257px;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
   .top>h3{
        width: 184px;
       height: 35px;
       color: var(--color-primary, #F1CDB3);
       font-family: Georgia;
       font-size: 32px;
       font-weight: 400;
       line-height: 110%; /* 35.2px */
       letter-spacing: 1.92px;
       margin: 30px auto 10px 10px;
    }
   .top>.hover>.ul{
       width: 190px;
       height: 15px;
       color: var(--color-light-xl, #FFF);
       font-family: Arial;
       font-size: 13px;
       font-weight: 400;
       letter-spacing: 1.3px;
       margin: 0 auto 0 10px;
       flex-wrap: nowrap;
   }

    header>nav>ul{
        display: none;
    }
    .responsive-list>li>a{
        font-size: 12px;
        font-weight: 300;
        color: #eff3f3;
    }
    .responsive-list{
        display: none;
        position: absolute;
        width: 190px;
        background: var(--color-primary, rgb(44, 31, 21));
        list-style-type: none;
        top: 90px;
        padding: 0;
        left: 10px;
        z-index: 10;
        border-radius: 5px;
    }
   .responsive-list a{
        text-decoration: none;
        display: block;
        color: #333;
        padding: 4px 0;
    }
    .responsive-list a:hover{
        background-color: var(--color-primary, rgb(197, 182, 172));
        border-radius: 5px;
        color: #eff3f3;
        font-weight: 400;
        font-size: 20px;
    }
    .hover {
        z-index: 11;
    }
    .hover:hover .responsive-list{
        display: block;
    }
    .first{
        width: 100%;
        padding: 60px 30px 673px 30px;
        /*height: 673px;*/
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px 0 105px 0;
    }
    .first>.content-top{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 296px;
        bottom: 300px;
        margin: 60px auto 105px auto;
    }
    .first>.content-top>h2{
        width: 300px;
        height: 64px;
        color: var(--color-light-xl, #FFF);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
        margin: 0 auto 42px auto;
    }
    .first>.content-top>p{
        width: 300px;
        height: 96px;
        color: var(--color-dark-s, #CDCDCD);
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%; /* 24px */
        margin: 0 auto 42px auto;
    }
    .first>.content-top>button{
        display: flex;
        padding: 15px 45px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: var(--color-primary, #F1CDB3);
    }
    .first>.content-top>button>a{
        color: var(--color-dark-3xl, #292929);
        font-family: Georgia;
        font-size: 17px;
        font-weight: 400;
        line-height: 130%; /* 22.1px */
        letter-spacing: 1.02px;
    }
    .first>.dog-top{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 260px;
        height: 271px;
    }
    .god-svg{
        width: 260px;
        height: 271px;
    }

    .second{
        width: 100%;
        padding: 419px 30px 500px 30px;
        /*height: 974px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .second-content{
        width: 300px;
        height: 494px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px auto ;
    }
    .second-content>h3{
        width: 280px;
        height: 64px;
        color: var(--color-dark-l, #545454);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
        margin-bottom: 25px;
        /*margin-top: 42px;*/
    }
    .second-content>.p-up{
        width: 270px;
        height: 144px;
        color: var(--color-dark-xl, #4C4C4C);
        text-align: justify;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%; /* 24px */
        margin-bottom: 20px;
    }
    .second-content>.p-down{
        width: 270px;
        height: 239px;
        color: var(--color-dark-xl, #4C4C4C);
        text-align: justify;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%; /* 24px */
        margin-bottom: 42px;
    }
    .photo-second{
        width: 100%;
        height: 253px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 42px;
    }
    .third{
        width: 100%;
        padding: 309px 0 401px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .third>.box{
        width: 270px;
        height: 435px;
        margin-top: 42px;
    }
    .third>h3{
        width: 300px;
        height: 64px;
        margin-bottom: 42px;
        color: var(--color-dark-l, #545454);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
    }
    .third>.box>.one{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 507px;
        margin: 42px auto 72px auto;
    }
    .third>.box>.one>img{
        width: 270px;
        height: 270px;
    }
    .third>.box>.one>h5{
        width: 74px;
        height: 23px;
        color: var(--color-dark-l, #545454);
        text-align: center;
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.2px;
    }
    .third>.box>.one>button{
        display: flex;
        padding: 15px 45px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        border: 2px solid var(--color-primary, #F1CDB3);
    }
    .third>.box>.one>button>a{
        color: var(--color-dark-3xl, #292929);
        font-family: Georgia;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 22.1px */
        letter-spacing: 1.02px;
    }
    .third>.box>.two{
        display: none;
    }
    .third>.box>.three{
        display: none;
    }
    article{
        display: none;
    }
    .article-two{
        display: block;
    }
    .article-two>.card{
        padding: 40px 30px;
        display: grid;
        gap: 30px;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'food transportation'
        'toys bowls'
        'shampoos vitamins'
        'medicines collars'
        'sleeping sleeping';
    }
    .food{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: food;
    }
    .transportation{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: transportation;
    }
    .toys{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: toys;
    }
    .bowls{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: bowls;
    }
    .shampoos{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: shampoos;
    }
    .vitamins{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: vitamins;
    }
    .medicines{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: medicines;
    }
    .collars{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: collars;
    }
    .sleeping{
        gap: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: sleeping;
    }
    .article-two{
        width: 100%;
        padding: 42px 30px 0 30px;
        /*height: 745px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .article-two>h3{
        width: 220px;
        height: 64px;
        color: var(--color-dark-l, #545454);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;

    }
    .fourth{
        /*width: 100%;*/
        padding: 300px 0 300px 0;
        background: var(--color-light-l, #F6F6F6);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fourth>.content{
        width: 300px;
        height: 542px;
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fourth>.content>.content-down{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 281px;
        margin-bottom: 42px;
        flex-direction: column;
    }
    .fourth>.content>.content-down>h3{
        width: 300px;
        height: 94px;
        color: var(--color-dark-l, #545454);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
        margin: 0 0 20px 0;
    }
    .fourth>.content>.content-down>.type{

        width: 279px;
        height: 24px;
        color: var(--color-dark-l, #545454);
        font-family: Georgia;
        font-size: 13px;
        font-weight: 400;
        line-height: 160%; /* 24px */
        margin: 0 0 20px 0;
        flex-wrap: nowrap;

    }
    .fourth>.content>.content-down>button{
        margin: 0 0 20px 0;
        width: 281px;
        height: 43px;
        display: flex;
        /*margin: 0 auto 20px 30px;*/
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 9px;
        background: var(--color-primary, #F1CDB3);
    }
    .fourth>.content>.content-down>button>a{
        color: var(--color-dark-l, #545454);
        font-family: Georgia;
        font-size: 15px;
        font-weight: 400;
        line-height: 110%; /* 16.5px */
        letter-spacing: 0.9px;
    }
    .fourth>.content>.content-down>.legal{
        margin: 0 0;
        width: 280px;
        height: 90px;
        color: var(--color-dark-m, #B2B2B2);
        text-align: justify;
        font-family: Arial;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 18px; /* 150% */
    }
    .fourth>.content>.dog{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 135.2px;
        margin: 0 0;
        border: none;
        /*background: url(<path-to-image>) lightgray 50% / cover no-repeat;*/
    }
    .fourth>.content>.dog>img{
        width: 260px;
    }

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 450px 0;
        /*height: 509px;*/
        /*margin-top: 300px;*/
        background-image: url("photo/footer-gradient-background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 0;
    }
footer>.for{
    width: 300px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 40px 0;
}
    footer>.for>h3{
        width: 278px;
        height: 64px;
        color: var(--color-light-xl, #FFF);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
        margin: 0 0 ;
    }
    footer>.for>.mail{
        width: 251px;
        height: 40px;
        color: var(--color-primary, #F1CDB3);
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        line-height: 115%; /* 23px */
        letter-spacing: 1.2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        gap: 20px;
        margin: 45px 0 ;
    }
    footer>.for>.mail>a{
        text-decoration: none;
    }
    footer>.for>.number{
        width: 251px;
        height: 32px;
        color: var(--color-primary, #F1CDB3);
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        line-height: 115%; /* 23px */
        letter-spacing: 1.2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        gap: 20px;
        margin: 0 0 ;
    }
    footer>.for>.number>a{
        text-decoration: none;
    }
    footer>.we{
        margin: 0 0;
        width: 302px;
        height: 234px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer>.we>h3{
        width: 270px;
        height: 64px;
        color: var(--color-light-xl, #FFF);
        text-align: center;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%; /* 32.5px */
        letter-spacing: 1.5px;
        margin: 40px 0;
    }
    footer>.we>.central{
        width: 302px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: none;
        border: none;
    }
    footer>.we>.central>span{
        color: var(--color-primary, #F1CDB3);
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        line-height: 115%; /* 23px */
        letter-spacing: 1.2px;
    }
    footer>.we>.park {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: none;
        border: none;
        margin: 0 0 45px 0;
        width: 302px;
        height: 32px;
    }
    footer>.img-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px 0 0 0;
        width: 260px;
        height: 269px;
        /*position: absolute;*/
        /*bottom: 0;*/
    }



    .footer-background{
        display: none;
        /*background-size: cover;*/
        /*width: 100%;*/
        /*height: 450px;*/
        /*position: absolute;*/
        /*z-index: -1;*/
        /*top: 4000px;*/
    }









}
